body {
    background-color: #f4f4f4;
}

header {
    color: white;
    background: #ab47bc;
    min-height: 50px;
    padding: 10px 0;
    width: 100%;
}

.container {
    max-width: 1000px;
}

#root {
    padding-top: 25px;
}